.loginElement{
    color: white !important;
}

.connectBtn{
    border-radius: 1em !important;
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
}