.Main {
    padding: 2em;
}

.ItemCard{
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em !important;
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
}

.ItemTitle{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.TitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pointDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em !important;
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
    padding: 0.5em;
    aspect-ratio: 1;
}

.Dialog{
    border-radius: 1em !important;
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
}

.dialogText{
    padding-top: 1vh;
}

.pointSold{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.ItemDescription{
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.ItemCardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ItemContainer{
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiButton-contained {
    border-radius: 1em !important;
    background-color: #b757cf;
}

.MuiButton-contained:hover {
    background-color: #9f20bf;
}

.PriceTag{
    font-size: 2em;
    font-weight: bold;
}

.cardActions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em;
}

@media only screen and (max-width: 780px) {
    .ItemCardHeader{
        flex-direction: column;
    }

    .ItemCardPrice{
        width: 50%;
    }

    .ItemCard{
        justify-content: center;
        flex-direction: column;
    }
    
    .ItemContainer{
        width: 100%;
    }

    .PriceTag{
        font-size: 3em;
        font-weight: bold;
        color: Green;
    }    

    .ItemPhoto{
        width: 80%;
    }

    .pointSold{
        font-size: 1.5em;
    }

    .pointDisplay{
        width: 100%;
        padding: 0.1em;
    }

    .TitleDiv{
        flex-direction: column;
    }
    
}