.TablePurchase{
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
    padding: 0.5em;
    border-radius: 1em !important;
}

.tableHead{
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: rgb(188, 188, 188) !important;
}

.tableContent{
    color: white !important;
}

.TitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pointPurchaseDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em !important;
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    color: white !important;
    padding: 0.5em;
}

.pointPurchaseSold{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media only screen and (min-width: 828px) {
    .pointPurchaseDisplay{
        aspect-ratio: 1 !important;
    }
}


@media only screen and (max-width: 780px) {
    .pointPurchaseSold{
        font-size: 1.5em;
    }

    .pointPurchaseDisplay{
        width: 100%;
        padding: 0.1em;
        max-height: 20%;
    }

    .TitleDiv{
        flex-direction: column;
    }
    
}